<!DOCTYPE html>

<html>
<head>
    <title>跳转页面</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="jmp">
    <meta name="author" content="wangxin">
    <link rel="icon" href="../../favicon.ico">

    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css"/><link rel="stylesheet" href="/vendor/bootstrap/css/main.css">

    <script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.min.js"></script>

   
</head>
<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.jsp">微信钱包</a>
            </div>
            <button type="button" class="btn btn-success navbar-btn navbar-right" onclick="window.location.href='register.jsp'">注册</button>
            <button type="button" class="btn btn-default navbar-btn navbar-right" onclick="window.location.href='login.jsp'">登录</button>
        </div>

    </nav>


    <div class="container theme-showcase" role="main">
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>注册成功</h1>
            <p>恭喜您，成功注册微信钱包！点击下面按钮登录微信钱包，享受微信钱包给您带来的各项服务！</p>
            <p><a href="login.html" class="btn btn-primary btn-lg" role="button">点击登录 &raquo;</a></p>
        </div>
    </div>  
</body>
</html>
